{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "**/.*rc": [
    "prettier --write",
    "git add"
  ],
  "*.{html,json,md,mdx,yaml,yml}": [
    "prettier --write",
    "git add"
  ]
}
